GPM17/WebContent/wsdl/Approve.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="isApproved">
    <complexType>
     <sequence>
      <element name="studenId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="isApprovedResponse">
    <complexType>
     <sequence>
      <element name="isApprovedReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="isApprovedResponse">

      <wsdl:part element="impl:isApprovedResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isApprovedRequest">

      <wsdl:part element="impl:isApproved" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Approve">

      <wsdl:operation name="isApproved">

         <wsdl:input message="impl:isApprovedRequest" name="isApprovedRequest">

       </wsdl:input>

         <wsdl:output message="impl:isApprovedResponse" name="isApprovedResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ApproveSoapBinding" type="impl:Approve">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="isApproved">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isApprovedRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isApprovedResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ApproveService">

      <wsdl:port binding="impl:ApproveSoapBinding" name="Approve">

         <wsdlsoap:address location="http://localhost:8081/GPM17/services/Approve"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
